html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	width: 100vw;
	height: 100vh;
	background-color: #faf5f5;
}
main {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.banner-section {
	background-color: rgb(65, 0, 242);
	display: flex;
	position: relative;
	justify-content: center;
	overflow: hidden;
	min-height: 50%;
}
.banner-section > div {
	color: white;
	font-size: 3.5rem;
	font-family: 'Splash', cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	max-height: 200px;
	width: 100%;
	position: absolute;
	top: 45%;
}

.banner-section > img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.form-section {
	display: flex;
	flex-direction: column;
}

.top-paragraph {
	flex: 1.6;
	height: 100%;
	max-height: 100vh;
	padding: 0 160px 32px 42px;

	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: end;

	font-size: 1.5rem;
	font-weight: 600;
}

form {
	flex: 1;

	padding: 16px 0 42px 42px;
	background-color: #fff;
	box-shadow: 0 3px 10px rgb(161, 158, 158);
}

fieldset {
	display: flex;
	flex-direction: column;
	row-gap: 25px;

	max-width: 80%;
	max-height: fit-content;

	border: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

legend {
	font-size: 1.5rem;
	font-weight: 800;
	margin-bottom: 12px;
}

input {
	font-size: 1.3rem;
	padding: 5px 8px;
	border-radius: 5px;
	border: 2px solid #e5e7eb;
}

.wrapper > input:required:valid {
	border-color: #32f943;
}

.wrapper > input:focus {
	border-color: #6879cc;
	box-shadow: 1px 1px 4px #6879cc;
	outline-style: none;
}

.error {
	border-color: #fa4d4d;
	box-shadow: none;
}

.column-wrapper {
	display: flex;
	flex-direction: row;
	column-gap: 50px;
}

.wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.submit-area {
	flex: 1;
	padding: 20px 0 0px 42px;
}

@media only screen and (max-width: 950px) {
	main {
		flex-direction: column;
	}
	.top-paragraph {
		padding: 42px;
	}
}

@media only screen and (max-width: 500px) {
	.banner-section {
		min-height: 50%;
	}

	.top-paragraph {
		padding: 42px;
	}
	.column-wrapper {
		flex-direction: column;
		gap: 20px;
	}

	form {
		padding: 42px;
	}
}
